<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="La chronique du singe vert est un blog contenant des récensions de livres de gestion d'entreprise et des articles sur le développement web.">
    <meta lang="fr">
    <meta lang="en">
    <meta name="image" content="/images/Logo-big-background-white.png">
    <link rel="icon" href="{{ base_path }}/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span>
        <a href="{{ base_path }}/">
            La chronique du <img id="logo" src="/images/Logo-big-background-white.png" alt="Retour à la page d'accueil"></img>inge vert
            </a>
            <p>Jongleries et balivernes pour s'occuper par temps pluvieux</p>
    </span>
</section>
</nav>
    
<main>
<header>
    
    
</header>
    
{{ content }}

</main>

<footer>
<section>
<p>&copy; {{ current_year }} La chronique du singe vert</p>
<p>
    <a href="{{ base_path }}/singevert/">Mais pourquoi un singe vert ?</a>
</p>
</section>
</footer>

</body>
</html>
